<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Final Fantasy Fan Site</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" th:href="@{../styles/css/main.css}" />
    </head>
    <body>
        <div th:fragment="nav-basics">
            <section>
                <header>
                    <h2>Menu</h2>
                </header>
                <ul class="link-list">
                    <li><a href="/basics/jobs">Jobs</a></li>
                    <li><a href="/basics/cities">Cities</a></li>
                    <li><a href="/basics/zones">Zones</a></li>
                    <li><a href="/basics/aetherytes">Aetherytes</a></li>
                </ul>
            </section>
        </div>
    </body>
</html>