<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Final Fantasy Fan Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{styles/css/main.css}" />
	</head>
	<body class="subpage">
		<div id="page-wrapper">
			<section id="header">
				<div th:insert="~{inserts/nav :: nav}" class="container">
				</div>
			</section>

			<section id="content">
				<div class="container">
					<div class="row">
						<div th:insert="~{inserts/nav-basics :: nav-basics}" class="col-3 col-12-medium">
						</div>

						<div class="col-9 col-12-medium imp-medium">
							<section>
								<header>
									<h2>Major cities</h2>
								</header>
								<span th:each="expansion : ${expansionList}">
									<h3 th:text="${expansion.getName()}"></h3>
									<ul class="link-list">
										<span th:each="city : ${majorCitiesList}">
											<li th:if="${city.getExpansion().getName().equals(expansion.getName())}">
												<img th:src="@{../images/majorcities/{imagename}(imagename=${city.getImageName()})}" />
												<span th:text="${city.getName()}"></span>
											</li>
										</span>
									</ul>
								</span>
							</section>

							<section>
								<header>
									<h2>Minor cities</h2>
								</header>
								<span th:each="expansion : ${expansionList}">
									<h3 th:text="${expansion.getName()}"></h3>
									<ul class="link-list">
										<span th:each="city : ${minorCitiesList}">
											<li th:if="${city.getExpansion().getName().equals(expansion.getName())}" th:text="${city.getName()}"></li>
										</span>
									</ul>
								</span>
							</section>
						</div>
					</div>
				</div>
			</section>

			<div th:insert="~{inserts/copyright :: copyright}" id="copyright">
			</div>
		</div>
	</body>
</html>