<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Final Fantasy Fan Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" th:href="@{styles/css/main.css}" />
	</head>
	<body>
		<div id="page-wrapper">
				<section id="header">
					<div class="container">
						<h1><a href="index" id="logo">Final Fantasy Fan Site</a></h1>

						<nav id="nav">
							<a href="index">Homepage</a>
							<a href="news">News</a>
						</nav>
					</div>

					<div id="banner">
						<div class="container">
							<p>This is a website, in case you did not know yet! And if you did know, it is still a website.</p>
						</div>
					</div>
				</section>

				<section id="content">
				</section>

				<div id="copyright">
					&copy; 2024-<span th:text="${currentYear}"></span> Martijn Jansen. All rights reserved. Version <span th:text="${versionNumber}"></span> | FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd.
				</div>
		</div>
	</body>
</html>